@{
    ViewBag.Title = "Isaac Morris Biography";
    ViewBag.Heading = "Isaac Morris";
}

<!DOCTYPE html>
<html>
<body>
    <img src="~/img/meplayingtennis.jpg" />
    <br /><br />
    <p>
        I hope that I can learn how to have an organizational mindset while
        coding on a larger scale. I also hope to learn how to better code in C#
        and use ASP.Net. These are my expectations for IS 413.
    </p>
    <br /><br />
    <ul>
        <li>Project Manager</li>
        <li>Software Developer</li>
        <li>Scrum Master</li>
    </ul>
    <br /><br />
</body>
</html>
